.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.user__list {
  margin: 0;
  list-style-type: none;
  width: 30%;
}

.user__data {
  width: 50%;
}

.link {
  text-decoration: none;
  color: black;
}

.link-active {
  color: white;
  background-color: black;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
}
