.filter__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.filter__by {
    color: white;
    font-weight: bold;
}

.filter__select {
    padding: 1rem 3.5rem;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 1.5rem;
}

.filter__select * {
    display: none;
}