.chart__item {
    width: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.chart__value {
    width: 1.5rem;
    height: 9rem;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: #baa5ed;
}

.chart__label {
    width: 1.5rem;
    font-size: 0.9rem;
    text-align: center;
}